{% extends('layout.html.twig') %}

{% block content %}
    <section class="container">
        <h1>Idea List</h1>
        <div class="row flex" >
            {% for idea in ideas %}
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ idea.title }}</h5>
                        <p class="card-text">Created : {{ idea.dateCreated | date("d/m/Y H:i") }}</p>
                        <a href="{{ path("detail", {"id": idea.id}) }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
