<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('img/favicon.png') }}" />
        <title>
            {% block title %}
                Bucket's List
            {% endblock %}
        </title>
        {% block stylesheets %}
            {% include("inc/_css.html.twig") %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% include('inc/_header.html.twig') %}
            </header>
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <footer class="align-text-bottom">
                {% include('inc/_footer.html.twig') %}
            </footer>
        {% endblock %}
        {% block javascripts %}
            {% include("inc/_js.html.twig") %}
        {% endblock %}
    </body>
</html>
