

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><img src="{{ asset('img/logo.png') }}" alt="Logo"> Bucket's List</a>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('list') }}">Idea</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('about') }}">About us</a>
        </li>
    </ul>

</nav>